:root {
  --font: "Inter", sans-serif;
  --cl-gray: #e9e9e9;
  --cl-red: #e30613;
  --cl-white: #ffffff;
  --cl-black: #000000;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-text-decoration-skip: objects;
  text-decoration-skip: objects;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

p,
dd,
dl,
figure,
blockquote {
  margin: 0;
}

blockquote,
q {
  quotes: none;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  font-weight: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

audio,
video {
  display: block;
}

iframe {
  border: none;
}

pre,
code,
kbd,
samp {
  font: inherit monospace, monospace;
}

a {
  background: transparent;
  text-decoration: none;
  color: inherit;
}

abbr {
  border: none;
  text-decoration: none;
}

b,
strong {
  font-weight: inherit;
}

i,
em {
  font-style: inherit;
}

dfn {
  font-style: inherit;
}

mark {
  background: transparent;
  color: inherit;
}

small {
  font-size: inherit;
}

sub,
sup {
  position: relative;
  vertical-align: baseline;
  font-size: inherit;
  line-height: 0;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

button,
input,
optgroup,
select,
textarea {
  background: transparent;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: inherit;
  letter-spacing: inherit;
  font-family: inherit;
}

input:focus-visible,
textarea:focus-visible {
  outline: none;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-family: inherit;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  font-family: inherit;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  font-family: inherit;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  font-family: inherit;
}

input::placeholder,
textarea::placeholder {
  font-family: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-align: left;
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
  -webkit-appearance: none;
}

textarea {
  resize: none;
  overflow-y: auto;
  overflow-x: hidden;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: none;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

[type=search] {
  outline: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

legend {
  display: block;
  padding: 0;
  white-space: normal;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

svg {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

body {
  min-height: 100vh;
  background: #fbfbfb;
  font-family: var(--font);
  font-weight: 500;
  font-style: normal;
  color: var(--cl-black);
  overflow-x: hidden;
}

main {
  padding-left: 160px;
  padding-right: 20px;
}

h1 {
  font-weight: 800;
  font-size: calc(
    40px + 56 * ((100vw - 320px) / 1600)
  );
  line-height: 1;
  color: var(--cl-black);
}

h2 {
  font-weight: 800;
  font-size: calc(
    36px + 28 * ((100vw - 320px) / 1600)
  );
  line-height: 1;
  color: var(--cl-black);
}

section {
  position: relative;
  margin-bottom: 100px;
}

input {
  width: 100%;
  height: 43px;
  border-bottom: 2px solid var(--cl-black);
}

input::-webkit-input-placeholder {
  color: var(--cl-gray);
}

input::-moz-placeholder {
  color: var(--cl-gray);
}

input:-ms-input-placeholder {
  color: var(--cl-gray);
}

input::-ms-input-placeholder {
  color: var(--cl-gray);
}

input::placeholder {
  color: var(--cl-gray);
}

::-webkit-scrollbar {
  background: var(--cl-white);
  width: 10px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--cl-red);
}

progress {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 5px;
  border: none;
  background: transparent;
  z-index: 100;
}

progress::-webkit-progress-bar {
  background: transparent;
}

progress::-webkit-progress-value {
  background: var(--cl-red);
  background-attachment: fixed;
}

progress::-moz-progress-bar {
  background: var(--cl-red);
  background-attachment: fixed;
}

.hidden {
  display: none;
}

.container {
  max-width: 1364px;
  width: 100%;
  margin: 0 auto;
}

.container__main {
  position: relative;
}

.btn {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  width: 100%;
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 31px;
  background: var(--cl-red);
  border-radius: 40px;
  font-weight: 700;
  font-size: 24px;
  line-height: 56px;
  color: var(--cl-white);
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.btn:hover {
  opacity: 0.8;
}

.btn:active {
  opacity: 0.5;
}

.marquee {
  width: 80px;
  height: 100%;
  min-height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  background: var(--cl-black);
  overflow: hidden;
  z-index: 10;
}

.marquee ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  gap: 32px;
}

.marquee svg {
  width: 100%;
}

.header {
  padding-top: 56px;
  padding-right: 20px;
}

.header .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.header .content .logo {
  display: none;
}

.heroimage {
  background: url("../img/svg/ggg.svg") no-repeat 0 0/contain;
  height: 100vh;
  position: relative;
}

.heroimage .img {
  display: none;
}

.heroimage .title {
  max-width: 738px;
  font-weight: 800;
  line-height: 1;
  color: var(--cl-black);
  margin-bottom: 40px;
}

.heroimage .title span {
  font-size: calc(
    16px + 8 * ((100vw - 320px) / 1600)
  );
}

.heroimage .decor {
  position: absolute;
  top: -20%;
  right: -100%;
  z-index: -1;
}

.projects {
  position: relative;
}

.projects .title {
  max-width: 615px;
  margin-bottom: 60px;
}

.projects .title h2 {
  margin-bottom: 20px;
}

.projects .title h2 span {
  color: var(--cl-red);
}

.projects .items {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(auto-fill, minmax(504px, 1fr));
}

.projects .items .item {
  background: var(--cl-black);
  height: calc(
      236px + 244 * ((100vw - 320px) / 1600)
    );
  position: relative;
  padding: 32px 24px;
}

.projects .items .item .arrow {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 16px;
  top: 16px;
}

.projects .items .item__title {
  max-width: 368px;
  font-weight: 800;
  font-size: 24px;
  line-height: 32px;
  color: var(--cl-white);
}

.projects .items .item::after {
  background: var(--cl-white);
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 8px;
  height: 40px;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.projects .items .item::before {
  background: var(--cl-white);
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 186px;
  height: 8px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.projects .items .item:hover::after {
  height: 100%;
}

.projects .items .item:hover::before {
  width: 100%;
}

.projects .decor {
  position: absolute;
}

.projects .decor__1 {
  width: 140%;
  height: 140%;
  left: -20%;
  top: -10%;
  z-index: -1;
}

.projects .decor__2 {
  width: auto;
  height: 100%;
  right: -20%;
  top: 20%;
  z-index: -2;
}

.projects .decor__3 {
  width: 100%;
  height: 50%;
  left: -40%;
  bottom: 0;
  z-index: -2;
}

.about .title {
  margin-bottom: 60px;
}

.about .title h2 {
  margin-bottom: 20px;
}

.about .title h2 span {
  color: var(--cl-red);
}

.about .title p {
  max-width: 615px;
}

.about .items {
  display: grid;
  gap: 113px;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

.about .item .img {
  border-radius: 100%;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.about .item .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.about .item .description .name {
  font-weight: 800;
  font-size: 24px;
  line-height: 113%;
  color: var(--cl-black);
}

.callback .form {
  background: var(--cl-white);
  border: 4px solid var(--cl-black);
  padding: 26px 48px;
}

.callback .form__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 40px;
}

.callback .form__group {
  width: 100%;
}

.callback .form .title {
  font-weight: 800;
  font-size: 40px;
  line-height: 1;
  color: var(--cl-black);
}

.callback .form .btn {
  max-width: 100%;
}

.footer {
  padding: 20px 0;
  text-align: right;
}

@supports (-webkit-appearance:none) {
  .heroimage {
    background-image: url("../img/svg/ggg.svg");
  }
}

@media screen and (max-width: 991px) {
  main {
    padding-left: 0px;
    padding-right: 0px;
    padding: 0 20px;
    overflow: hidden;
  }

  section {
    margin-bottom: 50px;
  }

  .marquee {
    display: none;
  }

  .header {
    height: 115px;
    position: relative;
    background: var(--cl-black);
    padding-top: 0px;
    padding-right: 0px;
    margin-bottom: 24px;
  }

  .header .content {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .header .content .logo {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
    -ms-transform: translate(-50%, -50%) rotate(90deg);
    transform: translate(-50%, -50%) rotate(90deg);
  }

  .header .content .btn {
    display: none;
  }

  .heroimage {
    height: 100%;
    background-image: none;
  }

  .heroimage .img {
    max-width: 400px;
    display: block;
    position: relative;
    left: 40%;
    top: 0;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    margin-bottom: 40px;
  }

  .heroimage .title {
    text-align: center;
    max-width: 100%;
  }

  .heroimage .title span {
    display: block;
    margin-bottom: 40px;
  }

  .heroimage .decor {
    width: 100%;
    left: 50%;
    right: auto;
    top: 20%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .projects .title {
    max-width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }

  .projects .items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .projects .items .item {
    padding: 32px 14px;
  }

  .about .title {
    max-width: 100%;
    text-align: center;
    margin-bottom: 41px;
  }

  .about .title h2 {
    margin-bottom: 20px;
  }

  .about .title p {
    max-width: 100%;
  }

  .about .items {
    gap: 71px;
  }

  .callback .form {
    padding: 31px 0;
  }

  .callback .form__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 30px;
    padding: 0 31px;
  }

  .callback .form .title {
    text-align: center;
    margin-bottom: 20px;
  }

  .footer {
    text-align: center;
  }

@supports (-webkit-appearance:none) {

}
}